# Devnet Private Keys - Example
DEVNET_SENDER_PRIVATE_KEY=your_key_here
DEVNET_RECEIVER_PRIVATE_KEY=your_key_here
DEVNET_ADMIN_PRIVATE_KEY=your_key_here
DEVNET_FEE_COLLECTOR_PRIVATE_KEY=your_key_here
